<!-- Main Content -->
<main class="dashboard-content">
  <div>
    <app-nav></app-nav>
  </div>  
  <div>
      <header class="dashboard-header">
        <h1>📦 Dashboard Overview</h1>
        <p class="breadcrumb">Home &gt; Dashboard</p>
      </header>
  
      <!-- <div class="page-header">
          <h2>📦 Dashboard Overview</h2>
          <span class="breadcrumb">Home > Dashboard</span>
        </div> -->
  
  
      <section class="dashboard-cards">
        <div class="card blue">
          <!-- <h2>{{data.totalItems}}</h2> -->
          <p>Total Items</p>
          <a routerLink="/items">More info</a>
        </div>
        <div class="card green">
          <!-- <h2>{{data.totalCategory}}</h2> -->
          <p>Total Category</p>
          <a routerLink="/category">More info</a>
        </div>
        <div class="card orange">
          <!-- <h2>{{data.totalElements}}</h2> -->
          <p>Total Elements</p>
          <a href="#">More info</a>
        </div>
        <div class="card red">
          <!-- <h2>{{data.company}}</h2> -->
          <p>Company</p>
          <a routerLink="/company">More info</a>
        </div>
        <div class="card blue">
          <!-- <h2>{{data.totalProducts}}</h2> -->
          <p>Total Products</p>
          <a href="#">More info</a>
        </div>
        <div class="card green">
          <!-- <h2>{{data.totalPaidOrders}}</h2> -->
          <p>Total Paid Orders</p>
          <a routerLink="/order">More info</a>
        </div>
        <div class="card orange">
          <!-- <h2>{{data.totalMembers}}</h2> -->
          <p>Total Members</p>
          <a routerLink="/member">More info</a>
        </div>
        <div class="card red">
          <!-- <h2>{{data.totalWarehouse}}</h2> -->
          <p>Total Warehouse</p>
          <a routerLink="/warehouse">More info</a>
        </div>
      </section>
    </div>
  </main>