.section {
    margin: 30px;
    padding: 30px;
    background-color: #f3f6f9;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
  }
  
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .permissions-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .permissions-table th,
  .permissions-table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .permissions-table thead {
    background-color: #28a7e3;
    color: white;
  }
  
  .permissions-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  