<div class="section">
  <div>
    <app-nav></app-nav>
  </div>
  <div>
  <div class="page-header">
    <h2>📦 Order Overview</h2>
    <span class="breadcrumb">Home &gt; Items</span>
  </div>
    <!-- <h2><i class="fa-solid fa-cart-shopping"></i> Order Overview</h2> -->
  
    <div class="order-table">
      <table>
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price (₹)</th>
            <th>Status</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.orderId }}</td>
            <td>{{ order.customer }}</td>
            <td>{{ order.product }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.total }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  