<div class="inventory-dashboard" >
    <!-- Sidebar -->
    <aside class="sidebar"> 
      <div class="logo">Inventory</div>
      <nav class="menu">
        <ul>
          <li ><a routerLink="/dashboard">📊 Dashboard</a></li>
          <li ><a routerLink="/items">📦 Items </a></li>
          <li ><a routerLink="/category">🧱 Category</a></li>
          <li><a routerLink="/warehouse">🏬 Warehouse</a></li>
          <!-- <li><a routerLink="/elements">📑 Elements</a></li> -->
          <!-- <li>📦 Products</li> -->
          <li><a routerLink="/order">🧾 Orders</a></li>
          <li><a routerLink="/member">👥 Members</a></li>
          <li><a routerLink="/permission">🔐 Permission</a></li>
          <li><a routerLink="/company">🏢 Company</a></li>
        </ul>
      </nav>
    </aside>
  
    
  </div>
  