<div class="section">
    <h2><i class="fa-solid fa-users"></i> Members Overview</h2>
  
    <div class="member-table">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Joined On</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of members">
            <td>{{ member.name }}</td>
            <td>{{ member.role }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.phone }}</td>
            <td>{{ member.joined }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  