<div class="section">
  <div>
    <app-nav></app-nav>
  </div>  
  <div>
      <header class="dashboard-header">
        <h1>📦 Members Overview</h1>
        <p class="breadcrumb">Home &gt; Dashboard</p>
      </header>
    <!-- <h2><i class="fa-solid fa-users"></i> Members Overview</h2> -->
  
    <div class="member-table">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Joined On</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let member of members">
            <td>{{ member.name }}</td>
            <td>{{ member.role }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.phone }}</td>
            <td>{{ member.joined }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  